<div class="container main">
  <section>
    <form id="new_def" action="/definition/new" method="post">
      <input type="hidden" name="word_id" value="<%= @words[:id] %>">
      <input type="hidden" name="word_text" value="<%= @words[:word_text] %>">
      <input type="text" name="definition_text">
      <button type="submit">Add New Definition</button>
    </form>
  </section>
  <a href="/">Index</a>
  <section>
    <ul>
    <% @words[:definitions].each do |define| %>
      <li><%= define[:definition_text] %></li>
    <% end %>
    </ul>
  </section>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    var new_def_success = function(def) {
      $('<li>').text(def).appendTo('ul');
    };

    var new_def_error = function(message) {
      $('<div>')
        .addClass('alert alert-danger')
        .attr('role', 'alert')
        .text(message)
        .prependTo('.main');
    };

    $('#new_def').submit(function(e) {
      e.preventDefault();
      $.post('/definition/new.json',
        $(this).serialize(),
        function(data) {
          if (data.status == 'Success') {
            defs = data.definitions;
            new_def_success(defs[defs.length -1].definition_text)
          } else {
            new_def_error(data.errormessage)
          }
        }
        );
    });
  });
</script>